.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.inner {
  width: 50%;
  margin: 0 25%;
}
.logo-pos {
  position: relative;
  margin-top: 10%;
  width: 15%;
  height: auto;
}
